<footer class="card-footer footer" style="background-color:#f8f9fa; margin-top: 50%">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Notre promesse </h5>
          <p>
            Chez sen-doctor.com, nous vous mettons en relation directe avec des professionels de santés qualifiés et qui s’engagent à respecter une charte exigeante.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Au service</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!"> À propos</a>
            </li>
            <li>
              <a href="#!">Notre histoire</a>
            </li>
            <li>
              <a href="#!">Au service des vraies PMEs d'Afrique</a>
            </li>
            <li>
              <a href="#!"> L'équipe</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Besoin</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!"> Espace Média</a>
            </li>
            <li>
              <a href="#!"> Nous contacter</a>
            </li>
            <li>
              <a href="#!"> Mentions Legales</a>
            </li>
            <li>
              <a href="#!"> Aide / FAQ</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> sen-doctor.com</a>
    </div>
    <!-- Copyright -->
</footer>
